 /* App.css*/

@font-face {
    font-family: 'Rubik Glitch';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik Glitch'), local('RubikGlitch-Regular'), url(../assets/Fonts/RubikGlitch-Regular.woff2) format('woff2'), url(../assets/Fonts/RubikGlitch-Regular.woff) format('woff'), url(./assets/Fonts/RubikGlitch-Regular.ttf) format('ttf');
}

.RubikGlitch-Regular {
    font-family: 'Rubik Glitch', system-ui;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
    src: local('Averia Libre'), local('AveriaSansLibre-Regular'), url(../assets/Fonts/AveriaSansLibre-Regular.woff2) format('woff2'), url(../assets/Fonts/AveriaSansLibre-Regular.woff) format('woff'), url(./assets/Fonts/AveriaSansLibre-Regular.ttf) format('ttf');
}

.AveriaSansLibre {
    font-family: 'Averia Libre', system-ui;
    font-weight: 400;
    font-style: normal;
}




:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #d6d7dc;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --clr-neutral-900: #151515;
    --clr-neutral-100: #d6d7dc;
    --clr-accent-400: #990000;
}


body {
    background: var(--clr-neutral-900);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
    margin: 0;
    box-sizing: border-box;
}

.flex-container-for-cards {
    display: grid; /* Меняем flex на grid */
    /* Эта строка создаст столько колонок, сколько поместится, 
       каждая будет минимум 400px, но сможет растягиваться. */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px; /* Задаем красивый и ровный отступ между карточками */
    
    /* Старые свойства flexbox больше не нужны */
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 50px;
    letter-spacing: -3px;
    color: #990000;
    text-align: center;
    font-family: 'Rubik Glitch';
}

h2 { 
    font-size: 25px;
    font-weight: normal;
    color: #990000;
    text-align: center;
    font-family: 'Averia Libre';
}







 

.ad-and-chat-container {
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.ad-container {
    margin-left: 20px;
    margin-right: 20px;
    flex: 3 1 0;
    box-sizing: border-box;
    text-justify: auto;
    text-align: center;
}

.chat-container {
    margin-right: 20px;
    margin-left: 20px;
    flex: 2 1 0;
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .ad-and-chat-container {
        width: 100%;  
    }

    .ad-container,
    .chat-container {
        flex-basis: 100%;  
    }
}


.cbox-chat {
    width: 100%;
    height: 27rem;
    border: none;
    border-radius: 20px;

    allowtransparency: yes;
    allow: autoplay;
    frameborder: 0;
    marginheight: 0;
    marginwidth: 0;
    scrolling: auto;
}





.footer {
    box-sizing: border-box;
    text-justify: auto;
    text-align: center;
}

 