/* Base styles */
.card {
    color: var(--clr-neutral-100);
    background-size: cover;
    padding: 6rem 0 0;
    border-radius: 0.5rem;
    transition: transform 400ms ease;
    padding-top: 40px;
    height: 350px;
    overflow: hidden;
    clip-path: inset(0 round 0.5rem);
    margin: 10px;
    flex: 0 1 400px;
    max-height: none;
    min-width: 400px; 
}

    .card:hover,
    .card:focus {
        transform: scale(1.05);
    }

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.3) 20%, hsl(0 0% 0% / 1));
    height: calc(100% - 6rem);
    overflow-y: auto;
    transform: translateY(65%);
    transition: transform 400ms ease;
}

    .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

.card:hover .card-content,
.card:focus .card-content {
    transform: translateY(0);
}

    .card:hover .card-content > *:not(.card-title),
    .card:focus .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 150ms;
    }

.card-title {
    position: relative;
    width: max-content;
    text-shadow: 0px 0px 3px black, 0px 0px 5px black;
    color: #c31a25;
    font-size: 30px
}

/* Card overlay and tags */
.card-overlay,
.card-tags {
    position: absolute;
    top: 0;
    left: 0.8rem;
    width: 100%;
    opacity: 0;
    transition: opacity 400ms ease, transform 400ms ease;
    transform: translateY(-100%);
    text-shadow: 0px 0px 3px black, 0px 0px 5px black, 0px 0px 5px black;
    color: red;
}

.card-overlay {
    height: 100%;
    padding: var(--padding);
}

.card:hover .card-overlay,
.card:focus .card-overlay,
.card:hover .card-tags,
.card:focus .card-tags {
    opacity: 1;
    transform: translateY(0);
}

/* Button and card body styles */
.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.0em;
    border-radius: 0.25rem;
    margin-right: 0.8em;
}

    .button:hover,
    .button:focus {
        background-color: var(--clr-neutral-100);
    }

.card-body {
    color: rgba(255, 255, 255, 0.85);
}

/* Reduced motion media query */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
